{% extends 'layout.html' %}

{% block body %}

<h2>Details of {{entity.handle}}</h2>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				{% if entity.vertices %}
					<th>Vertices</th>
				{% endif %}
				<th>Handle</th>
				{% if entity.type == 'CIRCLE' or entity.type == 'ARC' %}
					<th>Radius</th>
				{% endif %}
				{% if entity.type == 'ARC' %}
					<th>Angles</th>
				{% endif %}
				{% if entity.type == 'MTEXT' %}
					<th>Text Details</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% if entity.vertices %}
				<td>
				{% for v in entity.vertices %}	
					Vertex {{ loop.index }} (X, Y): {{ v.xpoint }}, {{ v.ypoint }}<br>
					{% if entity.type == 'LWPOLYLINE' %}
						 Start Width, End Width, Bulge: {{ v.startw }}, {{ v.endw }}, {{ v.bulge }}<br>
					{% endif %}
				{% endfor %}
				</td>
				{% endif %}
				<td>{{ entity.handle }}</td>
				{% if entity == 'circles' or entity == 'arcs' %}
					<td>{{ entity.radius }}<br></td>
				{% endif %}
				{% if entity == 'arcs' %}
					<td>Start: {{ entity.startangle }}<br>End Angle: {{ entity.endangle }}<br></td>
				{% endif %}
				{% if entity == 'mtexts' %}
					<td>String: {{ entity.text }}<br>Height and Width: {{ entity.charheight }}, {{ entity.width }}<br></td>
				{% endif %}
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}