{% extends 'layout.html' %}

{% block body %}

<h2>List of {{entity}}</h2>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Number</th>
				<th>Vertices</th>
				{% if entity == 'circles' or entity == 'arcs' %}
					<th>Radius</th>
				{% endif %}
				{% if entity == 'arcs' %}
					<th>Angles</th>
				{% endif %}
				{% if entity == 'mtexts' %}
					<th>Text Details</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% set entity_name = entity %}
		{% for e in block[entity] %}	
			<tr>
				<td>{{ loop.index }}</td>
				<td>
				{% for v in e.vertices %}	
					Vertex {{ loop.index }} (X, Y): {{ v.xpoint }}, {{ v.ypoint }}<br>
					{% if entity == 'lwpolylines' %}
						 Start Width, End Width, Bulge: {{ v.startw }}, {{ v.endw }}, {{ v.bulge }}<br>
					{% endif %}
				{% endfor %}
				</td>
				{% if entity == 'circles' or entity == 'arcs' %}
					<td>{{ e.radius }}<br></td>
				{% endif %}
				{% if entity == 'arcs' %}
					<td>Start: {{ e.startangle }}<br>End Angle: {{ e.endangle }}<br></td>
				{% endif %}
				{% if entity == 'mtexts' %}
					<td>String: {{ e.text }}<br>Height and Width: {{ e.charheight }}, {{ e.width }}<br></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

