{% extends 'layout.html' %}

{% block body %}

<div class="container">
	<table class="table table-striped">
		<h2>Downloads</h2>
		<thead>
			<tr>
				<th>CSV File</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/reports/{{dxffile}}/download" class="btn btn-info" role="button">Download</a></td>
			</tr>
		</tbody>
	</table>
</div>


<div class="container">
	<table class="table table-striped">
		<h2>Layer Summary</h2>
		<thead>
			<tr>
				<th>Layer</th>
				<th>Enabled</th>
				<th>Locked</th>
				<th>Frozen</th>
			</tr>
		</thead>
		<tbody>
		{% for layer in layers %}	
			<tr>
				<td>{{ layer.dxf.name }}</td>
				<td>{{ layer.is_on() }}</td>
				<td>{{ layer.is_locked() }}</td>
				<td>{{ layer.is_frozen() }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<div class="container">
	<table class="table table-striped">
		<h2>Table of INSERT Entities (Block References)</h2>
		<thead>
			<tr>
				<th>ID Number</th>
				<th>Assigned Block</th>
				<th>Layer</th>
				<th>Coordinates</br>(X, Y)</th>
				<th>List of Circle and LWPolyline Handles</th>
				<th>Rotation</br>(Degrees)</th>
				<th>Scaling Factors</br>(X, Y)</th>
				<th>Row Count and Spacing</th>
				<th>Column Count and Spacing</th>				
				<th>Block Details</th>
			</tr>
		</thead>
		<tbody>
		{% for insert in insert_dict.values() %}	
			<tr>
				<td>{{ insert.ID }}</td>
				<td>{{ insert.name }}</td>
				<td>{{ insert.layer }}</td>
				<td>({{ insert.xpoint }}, {{insert.ypoint }})</td>
	
				{% if 'lwpolylines' in block_dict[insert.name].types %}
					<td>
					{% for lw in block_dict[insert.name].lwpolylines %}
						{{ lw.handle }}</td>
					{% endfor %}
				{% elif 'circles' in block_dict[insert.name].types %}
					<td>
					{% for c in block_dict[insert.name].circles %}
						{{ c.handle }}</td>
					{% endfor %}				
				{% else %}
					<td></td>
				{% endif %}

				<td>{{ insert.rotation }}</td>
				<td>({{ insert.xscale }}, {{ insert.yscale }})</td>
				<td>Row Count: {{ insert.rowcount }}</br>Row Spacing: {{ insert.rowspacing }}</td>
				<td>Column Count: {{ insert.columncount }}</br>Column Spacing: {{ insert.columnspacing }}</td>
				<td><a href="/reports/{{dxffile}}/{{block_dict[insert.name].name}}" class="btn btn-info" role="button">Block Details</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<div class="container">
	<table class="table table-striped">
		<h2>Table of Other Entities</h2>
		<thead>
			<tr>
				<th>Handle</th>
				<th>Type</th>
				<th>Layer</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in base_entity_dict.values() %}	
			<tr>
				<td>{{ entity.handle }}</td>
				<td>{{ entity.type }}</td>
				<td>{{ entity.layer }}</td>
				<td><a href="/reports/{{dxffile}}/entity/{{entity.handle}}" class="btn btn-info" role="button">Info</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<div class="container">
	<table class="table table-striped">
		<h2>Table of Blocks</h2>
		<thead>
			<tr>
				<th>Block</th>
				<th>Information</th>
			</tr>
		</thead>
		<tbody>
		{% for block in block_dict.values() %}	
			<tr>
				<td>{{ block.name }}</td>
				<td><a href="/reports/{{dxffile}}/{{block.name}}" class="btn btn-info" role="button">Details</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}


